<div class="col-md-4 .offset-md-1 mb-4">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"><%= restaurant.name %></h5>
      <h6 class="card-subtitle mb-2 text-muted"><%= restaurant.location %></h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <%= link_to "More", restaurant, class: "card-link"%>
    </div>
  </div>
</div>
