$('#heading-restaurant').html('Edit Restaurant - <%= @restaurant.name %>')
$('#flash').addClass('<%= @class_alert %>')
$('#flash').html("<%= @flash_msg %><button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button>")
